// Color Variables
$primary-color: #06334D;  // Blue
$secondary-color: #2ecc71; // Green
$accent-color: #e74c3c;    // Red
$text-color: #333;         // Dark text
$background-color: #ecf0f1; // Light background
$button-text: #E6EEF2;
$text:#4F4F4F
