@import 'variables';

// Mixin for hover effect
@mixin hoverEffect($bg-color, $text-color, $border-radius) {
    &:hover {
        background-color: $bg-color;
        color: $text-color;
        border-radius: $border-radius;
    }
}

// Mixin for font properties
@mixin fontStyle($line-height, $font-size, $font-weight, $color) {
    line-height: $line-height;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

// Mixin for flex display
@mixin flexDisplay($justify-content, $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

.sidebar {
    background-color: #f5f8fa;
    padding: 20px;
    border-right: 1px solid #e1e4e8;
    height: 93vh;
    width: 300px;

    .qluRequire {
        @include fontStyle(23.44px, 20px, 600, $primary-color);
    }

    .dropdownList {
        list-style: none;
        padding: 0;
        margin: 0;
        background-color: $primary-color;
        border-radius: 8px;
        position: relative;
        top: 10px;
        overflow-y: auto;
        max-height: 300px;

        li {
            padding: 10px;
            cursor: pointer;
            font-size: 12px;
            color: $button-text;
            transition: background-color 0.3s;

            @include hoverEffect($button-text, $primary-color, 8px);

            &.activeUser {
                background-color: #cce5ff;
                font-weight: bold;
            }
        }
    }
}

.mainContainer {
    position: relative;
    right: 217px;
}

.chatMap {
    display: flex;
}

.parentSide {
    position: relative;
    top: 30px;
}

.parentSide1 {
    position: relative;
    top: 60px;
}

.icon {
    @include fontStyle(null, 16px, null, $primary-color);
    padding: 0px 4px;
}

.groupText,
.directText {
    @include fontStyle(18.75px, 16px, 700, $primary-color);
}

.groups,
.directMessages {
    padding: 7px;
    @include hoverEffect(#B7DDF2, null, 8px);
}

.qluAi {
    border: 2px solid #005F93;
    border-radius: 12px 0px 0px 0px;
}

.chatInput {
    @include flexDisplay(space-between, null);
    padding: 10px;
    border-top: 1px solid #e1e4e8;
    background-color: #f5f5f5;
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: 0;
    width: 800px;

    input {
        width: 85%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #e1e4e8;
        font-size: 1rem;
        background-color: #B7DDF2;
    }

    .sendButton {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
        transition: background-color 0.3s ease;

        @include hoverEffect(darken(#007bff, 10%), white, 5px);
    }
}

.chat11 {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 330px;

    .message-list {
        height: 400px;
        overflow-y: auto;
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .message {
        padding: 10px;
        background-color: #d9edf7;
        border-radius: 5px;
        margin-bottom: 5px;
        word-break: break-word;
    }

    .message-input {
        @include flexDisplay(null, null);

        input {
            flex: 1;
            margin-right: 10px;
        }
    }
}

.form {
    @include flexDisplay(null, null);
}

.selectedEmail {
    @include fontStyle(null, 20px, 700, $primary-color);
}

.chatBox {
    max-height: 750px;
    overflow-y: auto;
}

.emailMessage {
    @include fontStyle(25.41px, 14px, 700, #06334D);
}

.chatMessage {
    @include fontStyle(16.41px, 14px, 400, black);
}

.sendButton {
    @include hoverEffect($primary-color, $button-text, 8px);
    padding: 10px 25px;
    font-size: 14px;
}

.buttonLeft {
    position: relative;
    left: 10px;
}

.inputText {
    height: 50px;
    background: #B7DDF2;
    font-size: 14px;
}

.searchInput {
    font-size: 12px;
    padding: 10px;
    width: 260px;
    border-radius: 8px;
    background-color: $primary-color;
    color: $button-text;
}

.strong {
    @include fontStyle(30px, 20px, 700, $primary-color);
}

.customImage {
    border-radius: 20px;
    height: 32px;
    width: 32px;
}

.ChatMessages {
    gap: 12px;
    line-height: 25px;
    margin-bottom: 14px;
}

.unreadCount {
    font-size: 40px;
    font-weight: 900;
}