// styles/landing.module.scss
@import 'variables';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f9fc;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 50px 20px;
}

.hero {
    .logoContainer {
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        gap: 15px;
        margin-top: 20px;

        .signup {
            background-color: $primary-color;
            color: $button-text;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .login {
            background-color: $background-close;
            color: $button-text;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {}
        }
    }
}
.landingSection{
    display: flex;
}
.imageContainer {
    width: 700px;
    height: 400.96px;
}

.logo {
    color: transparent;
    width: 90% !important;
    height: auto;
}

.heading {
    font-size: 55px;
    font-weight: 900 !important;
    line-height: 72.29px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $primary-color;
}

.paragraph {
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $primary-color;
}

.top {
    padding-top: 25px;
}

// styles/modal.module.scss

.modal {
    &.fade {
        transition: opacity 0.3s ease;
    }

    &.show {
        opacity: -1;

    }

    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-content {
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .modal-header {
        border-bottom: none;
        background-color: #f7f7f7;
        color: #333;

        .close {
            color: #333;
            opacity: 0.8;

            &:hover,
            &:focus {
                opacity: 1;
            }
        }
    }

    .modal-body {
        padding: 2rem;
        color: #555;
    }

    .modal-footer {
        border-top: none;
        background-color: #f7f7f7;

        .btn {
            &:hover {
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.modalWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modalBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
}

.modalContent {
    position: relative;
    z-index: 1050;
    background: #E6EEF2;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 500px;
}

.modalHeader {
    display: flex;
    justify-content: center;
    /* Center the title */
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;

    color: $primary-color;
}

.modalTitle {
    font-size: 45px;
    font-weight: 900 !important;
    line-height: 45.88px;
    letter-spacing: 0.05em;
    text-align: left;
    color: $primary-color;
}

.closeButton {
    position: absolute;
    right: 10px;
    bottom: 40px;
    background: #D4E2EA;
    border: 1px;
    font-size: 18px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 2px;
    border-radius: 4px;
    opacity: 0.7;
}

// .modalBody {
//     padding-bottom: 15px;
// }
.formGroup {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.formControl {
    width: 328px;
    height: 48px;
    border: 1px solid #8C8C8C;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background: none;
    font-size: 12px;
    line-height: 18.75px;
    color: #8C8C8C;
}

.signup {
    padding-top: 15px;
}

.signupButton {
    width: 325px;
    border-radius: 8px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $button-text;
}

.signupButton:hover {
    width: 325px;
    border-radius: 8px;
    background-color: $primary-color;
    color: $button-text;
}

.login {
    padding-top: 15px;
}

.loginButton {
    width: 325px;
    border-radius: 8px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: $button-text;
}

.loginButton:hover {
    width: 325px;
    border-radius: 8px;
    color: $button-text;
    background-color: $primary-color;
}

.BarImage {
    padding-top: 15px;
}

.or {
    color: transparent;
    width: 70% !important;
    height: auto;
    position: relative;
    left: 70px;
}

.Alreadyaccount {
    width: 325px;
    border-radius: 8px;
    background-color: none !important;
    border: 1px solid $primary-color !important;
    font-size: 12px;
    color: $text;
    padding: 12px;
}

.loginText {
    color: #06334D !important;
    font-weight: 400;
    font-size: 14px !important;
    margin-left: 2px;
}

.signupButton1 {
    background-color: #06334D;
    color: #E6EEF2;
    padding: 8px 45px;
    border-radius: 5px;
}

.loginButton1 {
    background-color: #E6EEF2;
    color: #06334D;
    padding: 8px 45px;
    border-radius: 5px;
    border: 1px solid #06334D;
}